extends base.jade
block content
	.autopagerize_page_element:.content
		.links.animated.fadeInDown
			p Friend's blog：
				li
					a(href="http://wyx150137.farbox.com/") WYX
				li
					a(href="http://spiritbehind.farbox.com/") AELv
				li
					a(href="http://blog.csdn.net/A_E_Lv_0_0_") AELv_OLD
				li
					a(href="http://blog.csdn.net/rocky_selene") Rocky
				li
					a(href="http://blog.csdn.net/qq_35379057") LXY
				li
					a(href="http://infinity.farbox.com/") CRH
				li
					a(href="http://infinity37.lofter.com/") CRH_OLD
